%table.col-md-5.table.table-striped{:border => "1",:'data-bind' => 'visible : orders().length'}
  %thead
    %th Order Id
    %th User
    %th Time
    %th Address
    %th Status
    %th Show Items
    %th Delete
    %th Fulfill
  %tbody{:"data-bind" => "foreach: orders"}
    %tr
      %td{:"data-bind" => "text: id"}
      %td{:"data-bind" => "text: user"}
      %td{:"data-bind" => "text: time"}
      %td{:"data-bind" => "text: address"}
      %td{:"data-bind" => "text: status"}
      %td
        %button{:"data-bind" => "click: $root.getOrderItems"} Show Items
      %td
        %button{:"data-bind" => "click: $root.deleteOrder"} Delete
      %td
        %button{:"data-bind" => "click: setOrderStatus"} Done
      

