%div.panel.panel-primary{:style => "position:relative; top:9em;"}
  .panel-heading
    YOUR CART
  %div.panel-body
    %table{:'data-bind' => 'visible : userOrders().length'}
      %thead.panel-body
        %tr
          %td{:style => "padding : 10px;"}
            %b Item
          %td{:style => "padding : 10px;"}
            %b Vendor
          %td{:style => "padding : 10px;"} 
            %b Price/Unit
          %td{:style => "padding : 10px;"} 
            %b Quantity
      %tbody{:'data-bind' => 'foreach : userOrders'}
        %tr
          %td{:style => "padding : 10px;",:'data-bind' => 'text : item'}
          %td{:style => "padding : 10px;",:'data-bind' => 'text : vendor'}
          %td{:style => "padding : 10px;"}
            %i.icon-inr
            %span{:'data-bind' => 'text : price'}
          %td{:style => "padding : 10px;",:'data-bind' => 'text : quantity'}
    %p.alert.alert-info{:'data-bind' => 'visible : !userOrders().length'} Oops!! You have an empty cart!
  .panel-footer
    %button.btn.btn-success{onclick: "window.location.href='/'"}Go To Home

