%div{:style => "float:right;padding: 10px;"}
  %button.btn.btn-success{onclick: "window.location.href='/'"}Go To Home

%p.alert.alert-danger{:style => "font-size:16px;"}
  %i.icon-envelope
  %label Email : gohunger@gmail.com 
  %i.icon-phone
  %label Contact No. 8003393920/9782537784
  
.row
  .col-md-6
    %img{:width => "100%",:src => "../assets/img/Contact-Us-Page.jpg"}
  .col-md-5
    %div.panel.panel-danger#contactForm
      %div.panel-heading
        We would love to hear from you
      %div.panel-body
        %label Your Name
        %input.form-control{:"data-bind" => "value: feedback().uname", :placeholder => "Enter Name"}
        %label Your Email
        %input.form-control{:"data-bind" => "value: feedback().email", :placeholder => "Enter Email"}
        %label Your Message
        %input.form-control{:"data-bind" => "value: feedback().umessage", :placeholder => "Type Your Message Here"}
        %button.btn.btn-success{:"data-bind" => "click: addFeedback" } Send
       
    
