.row
  .col-md-9
    %h1 Profile
  .col-md-3
    %div{:style => "float :right;padding: 20px 60px 0 0"}
      %button.btn.btn-success{onclick: "window.location.href='/'"}Go To Home

.container#profile{:style => "width: 95%;margin: 30px 50px 0px 0px;padding: 30px 0px 20px 50px;"}
  .row
    .col-md-6  
      %div{:"data-bind" => "template:{name: $root.templateToUse}"}
      %script{:id => "editTmpl", :type => "text/html"}
        %form.form-horizontal{:role => "form"} 
          .form-group
            %label.col-sm-2.control-label Name:
            .col-sm-8
              %input.form-control{:"data-bind" => "value: userProfile().name"}
          .form-group
            %label.col-sm-2.control-label Address:
            .col-sm-8
              %input.form-control{:"data-bind" => "value: userProfile().address"}
          .form-group
            %label.col-sm-2.control-label Email Id:
            .col-sm-8
              %span.form-control{:"data-bind" => "text: userProfile().emailId"}
          .form-group
            %label.col-sm-2.control-label Contact Number:
            .col-sm-8
              %input.form-control{:"data-bind" => "value: userProfile().contactNum"}
          .form-group
            .col-sm-offset-2.col-sm-1
              %button.btn.btn-success{:"data-bind" => "click: acceptClicked"} Accept
            .col-sm-offset-2.col-sm-1  
              %button.btn.btn-danger{:"data-bind" => "click: cancelClicked"} Cancel
    .col-md-6
      %img{:src => "../assets/img/userprofile.png", :style => "width: 18em;height: 15em"}
      %script{:id => "itemTmpl", :type => "text/html"}
        %form.form-horizontal{:role => "form"}
          .form-group
            %label.col-sm-2.control-label Name:
            .col-sm-8
              %span.form-control{:"data-bind" => "text: userProfile().name"}
          .form-group
            %label.col-sm-2.control-label Address:
            .col-sm-8
              %span.form-control{:"data-bind" => "text: userProfile().address"}
          .form-group
            %label.col-sm-2.control-label Email Id:
            .col-sm-8
              %span.form-control{:"data-bind" => "text: userProfile().emailId"}
          .form-group
            %label.col-sm-2.control-label Contact Number:
            .col-sm-8
              %span.form-control{:"data-bind" => "text: userProfile().contactNum"}
          .form-group
            .col-sm-offset-3.col-sm-5
              %button.btn.btn-success{:"data-bind" => "click: editClicked"} Edit
%br
