.headerwrapper
  .gohungerlogo
    %a{href: "/"}  
      %h1.logotop{:style => "padding:0px;height:30px;"} go
      %h1.logobottom{:style => "padding:0px;height:36px;"} hunger
      %p.bottomtxt{:style => "padding:5px;white-space:nowrap;"} Destroy the hunger.
  .trueiconwrapper
    .links
      %a#offers.badge-text.bubble.bubble-down.drop-shadow{href: "", title: ""}
        %strong{:"data-bind" => 'click: viewProfile'} Profile
      %a#offers.badge-text.bubble.bubble-down.drop-shadow{href: "", title: ""}
        %strong{:"data-bind" => 'click: viewCart'} cart
      %a#offers.badge-text.bubble.bubble-down.drop-shadow{href: "/help", title: ""}
        %strong help
      %a#offers.badge-text.bubble.bubble-down.drop-shadow{href: "/contact", title: ""}
        %strong contact
      %a.badge-text.bubble.bubble-down.drop-shadow#signup{href: "", title: ""}
        %strong#signup{"data-target" => "#signupmodal", "data-toggle" => "modal"} sign up
      %a.badge-text.bubble.bubble-down.drop-shadow#signin{href: "", title: ""}
        %strong{"data-target" => "#signInModal", "data-toggle" => "modal"} Login
      %a.badge-text.bubble.bubble-down.drop-shadow#signout{href: "/signout", title: ""}
        %strong Sign Out
    %a{href: ""}
      "100% service"
      %br/
      "guarantee"
    %a{href: ""}
      %img{alt: "", src: "../assets/img/Tkare32.png"}/
.clr
%input.hide{:id => "user",:value => "#{$user}"}
%div#signupmodal.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "signupmodal",:role => "dialog" ,:tabindex => "-1"}
  .modal-body
    %a.close{:style => "opacity : 1;",:'data-dismiss' => "modal"}CLOSE X
    =haml_partial :signup
%div#onsignup.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "onsignup",:role => "dialog" ,:tabindex => "-1"}
  .modal-body
    %a.close{:style => "opacity : 1;",:'data-dismiss' => "modal"}CLOSE X
    =haml_partial :onsignup

#signInModal.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "signInModal",:role => "dialog" ,:tabindex => "-1"}
        
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button",:style => "color :white; opacity :1; font-size: 35px;"} &times;
    %p{:style => "color: white; font-size: 25px; padding-left :17em;"} Sign In
  .modal-body
    %form.form-horizontal{:role => "form"}                    
      .form-group
        %label.col-sm-4.control-label Username
        .col-sm-6
          %input.form-control{:"data-bind" => "value : uname", :placeholder => "Email address",:type => "text"}
                      
      .form-group
        %label.col-sm-4.control-label Password
        .col-sm-6
          %input.form-control{:"data-bind" => "value : password", :placeholder => "Password",:type => "password"}
     
          
      .form-group
        .col-sm-offset-4.col-sm-6
          %button.btn.btn-large.btn-primary{:'data-dismiss' => "modal",:"data-bind" => "click : login"} Sign In  

           
     
