.row
  .col-md-9
    %h1 Frequently Asked Questions
  .col-md-3
    %div{:style => "float :right;padding: 50px 20px 0 0"}
      %button.btn.btn-success{onclick: "window.location.href='/'"}Go To Home

%div#needhelp.modal.fade{:tabindex => "-1"}
  .modal-body
    =haml_partial :needhelp
.container{:style => "width: 100%"}
  %ul.Faq{:style => "list-style-type: none;"}  
    %li.heading 1.About goHunger
    %li  
      %ul.content
        %li.question What is goHunger
        %li.answer  goHunger.com is one of the first food ordering online portal in India. goHunger provides a platform for restaurants across the country to connect with millions of customers.The platform has the widest assortment of restaurants from variety of national, international and regional cuisines across diverse cultures like Indian, Chinese, Mughlai, Thai, Continental, Arabic, Snacks, Italian, Pizza, Rolls, etc. – All for your paapi - pet.
    %li.heading 2.My Account,Login & alerts
    %li  
      %ul.content
        %li.question  I don’t remember my password OR username. I Need Help!
        %li.answer  
          %ul 
            %li Don't worry. Here's what you need to do:
            %li Click LOGIN on the top right of the site page to access the login page.
            %li Click I FORGOT MY PASSWORD! or I Forgot MY USERNAME! link available on the bottom right of the login page.
            %li Enter your e-mail ID in the displayed field.
            %li We will send you a link in your e-mail.
            %li You can reset your password instantly by clicking the link.
            %li For Username, enter your registered mobile number and we will send you a SMS with your username.

  
    
      
