%h1.contentheading Find Restraunt
%section.content
  .searchBox
    %select{:"data-bind" => "options:vendorLocations ,optionsText : 'vendor_street', optionsValue : 'vendor_street' ,value :selectedLocation", style: "width: 600px;height: 30px;position: absolute;left: 6em;top: 1.7em;"}
    %button.btn.btn-success{:'data-bind' => 'click : findRestaurants', style: "width: 150px;position: absolute;right: 20em;top: 5em;"} Search


