%table.table.table-striped{:border => "1",:'data-bind' => 'visible : orderItems().length'}
  %thead.modal-heading
    %th Item Id
    %th Item Name
    %th Price
    %th Type
    %th Packing Type
    %th Quantity
  %tbody.modal-content{:"data-bind" => "foreach: orderItems"}
    %tr
      %td{:"data-bind" => "text: id"}
      %td{:"data-bind" => "text: name"}
      %td{:"data-bind" => "text: price"}
      %td{:"data-bind" => "text: type"}
      %td{:"data-bind" => "text: packing_type"}
      %td{:"data-bind" => "text: quantity"}
      
