%p#error.alert.alert-danger{:style =>"display : none;",:'data-bind' => 'text : error'}
#content{style: "opacity: .8;"}
  #content-1.well{:style => "padding : 25px;min-width:270px;height: 450px;"}
    %h2 FILTER
    %h3
      %b Choose Food Type
    %br
     
    %input{:type => "checkbox", "data-bind" => "checked:$root.foodType, click:refineSearch",:value => "Veg", style: "width:30px;"}
    %span{:style => "font-size : 18px;"} Veg
    %br
    %input{:type => "checkbox", "data-bind" => "checked:$root.foodType, click:refineSearch",:value => "Non-Veg", style: "width:30px;"}
    %span{:style => "font-size : 18px;"} Non-Veg
    %hr
    %h3
      %b Choose Cuisine
    %div{"data-bind" => "foreach : cuisines"}
      %input{:type => "checkbox", "data-bind" => "attr:{value:cuisine_name}, checked:$parent.checkedCuisine, click:$root.refineSearch", style: "width:30px;"}
      %span{:style => "font-size : 18px;","data-bind" => "text: cuisine_name"}
      %br
    %div{:class => "filterPanel",:style => "border : 0px;width : 100%;"}       
      %h3
        %b Price			
      %h4 
        %b Rs.0-400
      %div{:class => "slider", "data-bind" => "jqSlider: priceLimit, jqOptions: { min: 0, max: 400 }"}
      %span
        %b{"data-bind" => "text: priceLimit"}	
  #content-2
    #content-1-1
      %div.panel.panel-warning{style: "height:450px;"}
        %div.panel-heading{:style => "font-size : 18px;"}
          MENU
        %div.panel-body{:padding => "15px"}
          %h4.alert.alert-warning{:'data-bind' => 'visible : !filteredItems().length'} There are no items matching your choice.
          %ul.list-group{:'data-bind' => 'foreach : filteredItems',:style =>"list-style-type : none;"}
            %li
              %h4{:'data-bind' => 'text : name'}
      
            %li
              %span.badge{:style => "font-size : 18px;"}
                %i.icon-inr
                %span{:'data-bind' => 'text : price'} 
              %button.btn.btn-success.btn-small{"data-bind" => "click: addMultiple"} ADD
              %input{:'data-bind' => 'value : quantity'}

            %li
              %br
    #content-1-2
      %div.panel.panel-primary{style: "height:450px;"}
        %div.panel-heading{:style => "font-size : 18px;"}
          ORDERS
        %div.panel-body
          %h4.alert.alert-info{:'data-bind' => 'visible : !orders().length'} You have placed no orders yet!!!
          %ul.list-group{:'data-bind' => 'foreach : orders',:style =>"list-style-type : none;"}
            %li
              %h4{:'data-bind' => 'text : name'}
            %li
              %button.btn.btn-success{"data-bind" => "click: increment"} +
              %i.icon-inr
              %font{:size => "4","data-bind" => "text: price"} 
              %font{:size => "4"} *
              %font{:size => "4","data-bind" => "text: quantity()"}
              %font{:size => "4"} =
              %font{:size => "4","data-bind" => "text: totalPrice"}
              .btn-group
                %button.btn.btn-danger{"data-bind" => "click: decrement"} -
                %button.btn.btn-danger{"data-bind" => "click: remove"} X              
      %div{:style => "padding:2em;"}
        %button.btn.btn-success{:style => "font-size : 16px;",:type => "submit",:"data-bind" => "click:placeOrder"} Confirm Order
