.container{:style => "width: 50%"}
  %table{:border => 0,:background => "../assets/img/helppopup.png",:style => "width: 23.5em; height: 34.2em;" }
    %tr
      %td{:style => "padding: 6px 6px 3px 15px; vertical-align: top; height: .8em;"}
        %img{:'data-dismiss' => "modal",:style => "float: right", :src => "../assets/img/close.png"}
    %tr
      %td{:style => "padding: 0px; vertical-align: bottom; height: 5.8em; padding-left: 15px; padding-bottom: 3px;"}
        %select{:style => "background-color: white; width: 21.4em;"}
          %option{:value => "general"} General
          %option{:value => "refund"} Refund
    %tr
      %td{:style => "height: 2em; font-size: 15px; vertical-align: bottom; padding: 0 0 0 20px;"} Your Name
    %tr
      %td{:style => "height: 2.1em; font-size: 15px; vertical-align: bottom; padding: 0 0 0 16px;"} 
        %input{:style => "width: 22.7em;", :type => "text"}
    %tr
      %td{:style => "height: 2em; font-size: 15px; vertical-align: bottom; padding: 0 0 0 20px;"} Your Email
    %tr
      %td{:style => "height: 2.1em; font-size: 15px; vertical-align: bottom; padding: 0 0 0 16px;"} 
        %input{:type => "email", :style => "width: 22.7em;"} 
    %tr
      %td{:style => "height: 2em; font-size: 15px; vertical-align: bottom; padding: 0 0 0 20px;"} Your Query
    %tr
      %td{:style => "height: 2.1em; font-size: 15px; vertical-align: top; padding: 0 0 0 16px;"}  
        %textarea{:rows => "3", :style => "width: 22.7em;"}
    %tr
      %td{:style => "height: 2.1em; font-size: 15px; vertical-align: top; padding: 0 0 0 16px;"}
        %button.btn.btn-default{:type => "button"}Send   
