.container{:style => "width: 50%"}
  %div.panel.panel-danger
    %div.panel-heading 
      Thank you for your registration 
      %a{:"data-bind" => "click: closeSignUp",:style => "float: right"} CLOSE X
    %div.panel-body{:style => "height: 25em;"}
      %div A verification email has been sent to your registered email address. Please click on the verification link to activate your account.
      %br
      %strong 
      Having trouble accessing your account? Please contact 
      %a{:href => "#"}Online Customer Support.
	
