.row
  .col-md-12
    %div{:'data-bind' => 'visible : !signedIn()',:style => "text-align:center;"}
      %span
        %a{:href => "#"}
          %img{"data-target" => "#signupmodal", "data-toggle" => "modal",:src => "../assets/img/signup.png", :style => "height: 5em;width: 5em;"}
      %span{style: "color:white;font-size: x-large;"} 
        %b sign up to auto fill your delivery details
%br
.row{style: "opacity:0.8;"}
  .col-md-6
    .panel.panel-primary{style: "height:450px;"}
      .panel-heading
        %h3 DELIVERY DETAILS
      .panel-body
       
        %form{:"data-bind" => "submit: insertOrder"}
          %h4 NAME *
          %input{:"data-bind" => "value: order().user", :required => "true"}
          %h4 CONTACT NO *
          %input{:"data-bind" => "value: order().contactNum", :required => "true", :pattern => "[0-9]{10}",:title => "Enter 10 digit mobile number"}
          %h4 ADDRESS *
          %textarea{:"data-bind" => "value: order().address",:required => "true"}
          %div{:style => "padding:2em;"}
            %button.btn.btn-success{:type => "submit"} Confirm Order
  .col-md-6
    .panel.panel-primary{style: "height:450px;"}
      .panel-heading
        %h3{:style => "text-align:center"} ORDER DETAILS
      .panel-body
        %h4 RESTAURANT
        %h4{:"data-bind" => "text: selectedVendor().vendor_name"}
        %h4 ORDER ITEMS
        %div{:"data-bind" => "foreach: orders"}
          %div{:style => "font-size: 15px"}
            %span{:"data-bind" => "text: name"}
            %span{:"data-bind" => "text: quantity"}
            %span *
            %span{:"data-bind" => "text: price"}
            %span =
            %span{:"data-bind" => "text: totalPrice"}
        %div{:style => "text-align: right"}
          %h4 ORDER TOTAL
          %i.icon-inr
          %span{:"data-bind" => "text: totalSum",:style => "font-size: 18px"} 
%br
