.row
  %div.col-md-2
  %div.col-md-8
    %img.thumbnail{:src => "../assets/img/partner.jpg"}
  %div.col-md-2
.row 
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner1.jpg"}
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner2.jpg"}

.row 
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner3.jpg"}
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner4.jpg"}

.row 
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner5.jpg"}
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner6.jpg"}

.row 
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner7.jpg"}
  %div.col-md-6.col-sm-4.col-xs-6
    %img.thumbnail{:src => "../assets/img/partner8.jpg"}



