
%table{:style => "min-width :100%; cell-padding :0px;"}
  %tr
    %td{:style=>"padding : 0px; background : url(../assets/img/location.jpg) no-repeat;"}
      %img#step1{:src => "../assets/img/transparent.png",:style => "height : 80%;width:100%;opacity : 0;"}
    %td{:style => "padding : 0px; background : url(../assets/img/restaurant.jpg) no-repeat;"}
      %img#step2{:src => "../assets/img/transparent.png",:style => "height : 80%;width:100%;opacity : 0.7;"}
    %td{:style => " padding : 0px;  background : url(../assets/img/delivery.jpg) no-repeat;"}
      %img#step3{:src => "../assets/img/transparent.png",:style => "height : 80%;width:100%;opacity : 0.7;"}
    %td{:style => "padding : 0px; background : url(../assets/img/payment.jpg) no-repeat;"}
      %img#step4{:src => "../assets/img/transparent.png",:style => "height : 80%;width:100%;opacity : 0.7;"}

  %tr{:style => "padding : 0px;"}
    %td{:style => "padding : 0px;"}
      %h4 Tell Your Location
    %td{:style => "padding : 0px;"}
      %h4 Restaurant
    %td{:style => "padding : 0px;"}
      %h4 Delivery
    %td{:style => "padding : 0px;"}
      %h4 Payment
