.row1
  .container{:style => "width: 50%"}
    %div#signupmodal.panel.panel-danger
      %div.panel-heading
        Create an account:
        %a{:'data-dismiss' => "modal",:style => "float: right"} CLOSE X
      %div.panel-body{:style => "height: 25em;"}
        %p#signupmessage.alert.alert-danger{:style=>'text-align : center;display : none;',:'data-bind' => 'text : message'}
        %form.form-horizontal{:"data-bind" => "submit: createUser",:role => "role"}
          .form-group
            %label.col-sm-5.control-label Name*:
            .col-sm-6
              %input.form-control{:"data-bind" => "value: user().name",:type => "text", :required => "required", :placeholder => "Enter Name"}
          .form-group 
            %label.col-sm-5.control-label Password*:
            .col-sm-6
              %input.form-control{:"data-bind" => "value: user().password",:type => "password", :required => "required", :placeholder => "Enter Password"}
          .form-group
            %label.col-sm-5.control-label Email-id*:
            .col-sm-6
              %input.form-control{:"data-bind" => "value: user().emailId",:type => "email", :required => "required", :placeholder => "Enter Email ID"}
          .form-group
            %label.col-lg-5.control-label{:style => "white-space: nowrap;"} Contact Number*:
            .col-sm-6
              %input.form-control{:"data-bind" => "value: user().contactNum",:pattern => "[0-9]{10}", :required => "required", :placeholder => "Enter Contact Number"}
          .form-group
            %label.col-sm-5.control-label Address*:
            .col-sm-6
              %textarea.form-control{:"data-bind" => "value: user().address",:type => "text", :required => "required", :placeholder => "Enter Address",:rows => "3" }
          .form-group
            .col-sm-offset-5.col-sm-3
              %button.btn.btn-default{:type => "submit"} Sign Up
            %label.col-sm-7.control-label{:style => "float : right"} 
              By signing up you agree to our 
              %a{:href => "/terms"} terms and conditions
