/%img{"data-target" => "#needhelp", "data-toggle" => "modal", :src => "../assets/img/needhelp.png"}
%h1 TERMS OF USE
/%div#needhelp.modal.fade{:tabindex => "-1"}
/.modal-body
/=haml_partial :needhelp
.container{:style => "width: 100%"}
  %ul.Faq{:style => "list-style-type: none;"}  
    %li.heading 1.TERMS OF USE
    %li  
      %ul.content
        %li.question TERMS OF USE
        %li.answer  
          %p Please read the following terms and conditions very carefully as your use of HungryBuddies  website www.HungryBuddies.com (hereinafter referred to as "HungryBuddies") and services offered by HungryBuddies are subject to your acceptance of and compliance with the following terms and conditions (hereinafter referred to as "Terms").
          %p By browsing, accessing, subscribing to or using any of our services you agree that you have read, understood and are bound by the terms, regardless of how you subscribe to or use the services. By mere use of the website you shall be contracting with HungryBuddies Info Services Pvt. Ltd.In these terms, references to “Website” shall mean the HungryBuddies.com website, "you", "user" shall mean the end user accessing the Website, its contents and using the services offered through HungryBuddies, "Service Providers" mean independent third party service providers, and "we", "us" and "our" shall mean HungryBuddies and its affiliates.
          %p HungryBuddies reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the site following the posting of changes will mean that you accept and agree to the changes. As long as you comply with these terms, HungryBuddies grants you a personal, non-exclusive, non-transferable, limited privilege to access and use the website and services offered by HungryBuddies.
    %li.heading USER ACCOUNT AND REGISTRATION TERMS
    %li  
      %ul.content
        %li.question  USER ACCOUNT AND REGISTRATION TERMS
        %li.answer  
          %p Registering at HungryBuddies is free service and you will receive a username and password upon completing the website's registration process or completing a transaction. You are responsible for maintaining the confidentiality of the username and password, and are fully responsible for all activities that occur under your account.
          %ul 
            You agree to
            %li Immediately notify HungryBuddies of any unauthorized use of your account or any other breach of security, and
            %li Ensure that you exit from your account at the end of each session. HungryBuddies cannot and will not be liable for any loss or damage arising from your failure to comply with this requirement. You agree that if you provide any information that is untrue, inaccurate, not current or incomplete or HungryBuddies has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, or not in accordance with the Terms of Use, HungryBuddies has the right to indefinitely suspend or terminate or block access of your membership with HungryBuddies and refuse to provide you with access to the website.
          %p If you are a non registered user you agree that upon reviewing the order at the website a user account will be auto created for you and the access to the same will be communicated to your email address provided.  
