
.row
  .col-md-7

    %div.panel.panel-danger{:style => "position:relative; top:4em;left:12em;opacity:0.8;"}
      %div.panel-heading
        %h3{:style => "text-align:center"} ORDER DETAILS
      %table.panel-body
        %tbody
          %tr
            %td
              %h4 
                %b RESTAURANT
              %h4{:"data-bind" => "text: selectedVendor().vendor_name"}
              %h4
                %b ORDER ITEMS
              %div{:"data-bind" => "foreach: orders"}
                %div{:style => "font-size: 20px"}
                  %span{:"data-bind" => "text: name+'   '"}
                  %span{:"data-bind" => "text: quantity"}
                  %span *
                  %i.icon-inr
                  %span{:"data-bind" => "text: price"}
                  %span =
                  %i.icon-inr
                  %span{:"data-bind" => "text: totalPrice"}
            %td{:style => "text-align:right"}
              %h4 
                %b ORDER TOTAL
              %i.icon-inr
              %span{:"data-bind" => "text: totalSum",:style => "font-size: 18px"}
          %tr
            %td
              %p.alert.alert-danger 
                %b Order ID :
            %td
              %p.alert.alert-danger{:"data-bind" => "text: orderId"}
          %tr
            %td
            %td
              %img{:src=>"../assets/img/thank-you.jpg"}
          
    
