%table.col-md-5.table.table-striped{:border => "1",:'data-bind' => 'visible : users().length'}
  %thead
    %th  Id
    %th Name
    %th Password
    %th Email ID
    %th Contact Num
    %th Address
    %th Delete
  %tbody{:"data-bind" => "foreach: users"}
    %tr
      %td{:"data-bind" => "text: id"}
      %td{:"data-bind" => "text: name"}
      %td{:"data-bind" => "text: password"}
      %td{:"data-bind" => "text: emailId"}
      %td{:"data-bind" => "text: contactNum"}
      %td        
        %button{:"data-bind" => "click: $root.deleteOrder"} Delete