.row
  %div{:style => "font-size : 17px;",:'data-bind' => 'foreach : selectedVendors'}
    .col-md-3.panel.panel-info#menubox

      %h2{"data-bind" => "text : vendor_name", style: "color : red;position: relative;left: 80px;"} 
      %img.thumbnail{"data-bind" => "attr: { src : \"../assets/img/vendors/\"+vendor_name+\".jpg\" }", src: "../assets/img/vendors/Anu Sweets.jpg", style: "width: 176px;height: 117px;\r\n    position: relative;left: 22px;"}/
      %div{style: "position: relative;left: 22px;white-space: nowrap;"}
        %icon.icon-home
        %span{"data-bind" => "text : vendor_street"}
      %br
      %div{style: "position: relative;left: 22px;white-space: nowrap;"} 
        %icon.icon-time
        %label{"data-bind" => "text : delivery_start+\" to \"+delivery_end"}
      %br
      %div{"data-bind" => "text : vendorCuisine", style: "position: relative;left: 22px;"} 
      %br
      %span.alert-info{"data-bind" => "text : status", style: "position: relative;left: 22px;"}
      %br
      %button.btn.btn-primary{"data-bind" => "click : printMenu", style: "position: relative;left: 70px;top: 30px;"} Print Menu
