%div
  %div{:'data-bind' => 'visible : vendorsArray().length'}
    %table.table.table-striped{:border => "1"}
      %caption
        Vendors
      %thead
        %th Id
        %th Name
        %th House Number
        %th Street
        %th City
        %th Opening Time 
        %th Closing Time
        %th Delete
        %th Show Items
        %th Add Items
      %tbody{:"data-bind" => "foreach: vendorsArray"}
        %tr
          %td{:"data-bind" => "text: id"}
          %td{:"data-bind" => "text: name"}
          %td{:"data-bind" => "text: house_number"}
          %td{:"data-bind" => "text: street"}
          %td{:"data-bind" => "text: city"}
          %td{:"data-bind" => "text: delivery_from"}
          %td{:"data-bind" => "text: delivery_to"}
          %td
            %button.btn.btn-danger{:"data-bind" => "click: $root.deleteVendor"} Delete
          %td
            %button.btn.btn-primary{:"data-bind" => "click: $root.showItem"} Show Item
          %td  
            %button.btn.btn-primary{:"data-bind" => "click: function(){$root.itemForm(id);}"} Add Item
  %button.btn.btn-success{:"data-bind" => "click: vendorForm"} Add Vendor
  %button.btn.btn-success{:"data-bind" => "click: getFeedbacks"} Feedbacks
  %div
    %p
    %button.btn.btn-success{:'data-bind' => 'click : getOrders'} Show Orders
    %form{:"data-bind" => "submit:addVendor,visible: displayVendorForm"}
      %h4 Name
      %input{:"data-bind" => "value: vendor().name"}
      %h4 House Number
      %input{:"data-bind" => "value: vendor().house_number"}
      %h4 Street
      %input{:"data-bind" => "value: vendor().street"}
      %h4 City
      %input{:"data-bind" => "value: vendor().city"}
      %h4 Delivery From
      %select{"data-bind" => "options:hour, value: startTime.hour"}
      %select{:"data-bind" => "options:minutes, value: startTime.minutes"}
      %select{:"data-bind" => "options:ampm, value: startTime.ampm"}
      %h4 Delivery To
      %select{"data-bind" => "options:hour, value: closingTime.hour"}
      %select{:"data-bind" => "options:minutes, value: closingTime.minutes"}
      %select{:"data-bind" => "options:ampm, value: closingTime.ampm"}
      %button.btn.btn-success{:type => "submit"} Add Vendor
    %form{:"data-bind" => "submit:addItem,visible: displayItemForm"}
      %h4 Name
      %input{:"data-bind" => "value: item().name"}
      %h4 Price
      %input{:"data-bind" => "value: item().price"}
      %h4 Type
      %select{:"data-bind" => "options:types ,optionsText : 'type', optionsValue : 'type' ,value :item().type"}
      %h4 Packing Type
      %select{:"data-bind" => "options:packings ,optionsText : 'packing', optionsValue : 'packing' ,value :item().packing_type"}
      %h4 Cuisine
      %select{:"data-bind" => "options:cuisines ,optionsText : 'cuisine_name', optionsValue : 'cuisine_name' ,value :item().cuisine"}
      %button.btn.btn-success{:type => "submit"} Add Item
    %table.table.table-striped{:'data-bind' => 'visible : items().length',:border => "1"}
      %caption
        Items
      %thead
        %th Item Id
        %th Item Name
        %th Price
        %th Type(Veg/non- Veg)
        %th Packing Type
        %th Delete
      %tbody{:"data-bind" => "foreach: items"}
        %tr
          %td{:"data-bind" => "text: id"}
          %td{:"data-bind" => "text: name"}
          %td{:"data-bind" => "text: price"}
          %td{:"data-bind" => "text: type"}
          %td{:"data-bind" => "text: packing_type"}
          %td
            %button{:"data-bind" => "click: $root.deleteItem"} Delete
    %table.table.table-striped{:'data-bind' => 'visible : feedbacks().length',:border => "1"}
      %caption
        Feedbacks
      %thead
        %th  Id
        %th User Name
        %th Email
        %th Message
        %th Time
        %th Delete
      %tbody{:"data-bind" => "foreach: feedbacks"}
        %tr
          %td{:"data-bind" => "text: id"}
          %td{:"data-bind" => "text: uname"}
          %td{:"data-bind" => "text: email"}
          %td{:"data-bind" => "text: umessage"}
          %td{:"data-bind" => "text: time"}
          %td
            %button{:"data-bind" => "click: $root.deleteFeedback"} Delete
      
