!!!
%html{:lang => "en"}
  %head
    %title goHunger
    %link{:href => "../assets/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/font.css", :rel => "stylesheet"}
    %link(rel = "stylesheet" type = "text/css" href = "../assets/css/jquery-ui-1.10.3.custom.css")
    %link(rel = "stylesheet" type = "text/css" href = "../assets/css/vendor.css")
  %body{:style => "font-size : 16px;"}
    .conta
      %div{:style=>"background :url(../assets/img/horizontalseparator.jpg);"}
        =haml_partial :header
      %hr{:style=>"background : #FF0000 url(../assets/img/horizontalseparator.jpg); height : 1em"}
      %hr{:style=>"background : #770000; height : 0.5em"}
      %div#controlPanel
        %p#message.alert.alert-info{:style=>'text-align : center;display : none;',:'data-bind' => 'text : message'}
        .row
          .col-md-3
            %div.leftborder{:style => "background : url(../assets/img/foodbanner.jpg);"}
              =haml_partial :partners
          .col-md-9
            %div.rightborder
              =haml_partial :vendorreg
            .row
              %div.col-md-7
                =haml_partial :adminorder
              %div.col-md-4
                =haml_partial :items
         
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/jquery-1.9.1.js"}
    %script{:src => "../assets/js/jquery-ui-1.10.3.custom.js"}
    %script{:src => "../assets/js/bootstrap.min.js"}
    %script{:src => "../assets/js/knockout-2.2.1.js"}
    %script{:src => "../assets/js/ItemModel.js"}
    %script{:src => "../assets/js/ControlPanel.js"}
