%html
  %head
    %title goHunger
    %link{:href => "../assets/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/font.css", :rel => "stylesheet"}
  %body
    .container
      %div#adminLogin
        #adminLoginModal.modal.fade{"aria-hidden" => "true", "aris-labelledby" => "adminLoginModal",:role => "dialog" ,:tabindex => "-1"}  
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button",:style => "color: white; opacity: 1;"} &times;
            %p{:'font-color' => 'white'} Sign In
          .modal-body{:style => "width: 50%"}
            %form.form-horizontal{:role => "form"}                    
            .form-group
              %label.col-sm-4.control-label Username
              .col-sm-6
                %input.form-control{:"data-bind" => "value : admin().username", :placeholder => "Username",:type => "text"}
                      
            .form-group
              %label.col-sm-4.control-label Password
              .col-sm-6
                %input.form-control{:"data-bind" => "value : admin().password", :placeholder => "Password",:type => "password"}
     
            .form-group
              .col-sm-offset-4.col-sm-3
                %button.btn.btn-large.btn-primary{:'data-dismiss' => "modal",:"data-bind" => "click : adminLogin"} Sign In
              .col-sm-offset-2.col-sm-3  
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/jquery-1.9.1.js"}
    %script{:src => "../assets/js/jquery-ui-1.10.3.custom.js"}
    %script{:src => "../assets/js/bootstrap.min.js"}
    %script{:src => "../assets/js/knockout-2.2.1.js"}
    %script{:src => "../assets/js/ItemModel.js"}
    %script{:src => "../assets/js/ControlPanel.js"}
