!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title gohunger
    %link{rel: "stylesheet", type: "text/css", href: "../assets/css/help.css"}/
    %link{:href => "../assets/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "../assets/css/font.css", :rel => "stylesheet"}
    %link(rel = "stylesheet" type = "text/css" href = "../assets/css/jquery-ui-1.10.3.custom.css")
    %link(rel = "stylesheet" type = "text/css" href = "../assets/css/vendor.css")
    %link{href: "http://fonts.googleapis.com/css?family=Terminal+Dosis", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Exo+2:400,900", rel: "stylesheet", type: "text/css"}/
    %link{href: "../assets/css/reset.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "../assets/css/gohunger.css", rel: "stylesheet", type: "text/css"}/
    
  %body
    #header
      =haml_partial :header
    %p#message.alert.alert-info{:style=>'text-align : center;display : none;',:'data-bind' => 'text : message'}
    .imagecontainer
      %div
        =haml_partial :help
    %footer
      .footerwrapper
        .gohungerlinks
          %h2 gohunger
          %ul
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} About us
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} True Care
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Team
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Contact Us
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Privacy Policy
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Terms Of Use
        .popularsocities
          %h2 POPULAR socities
          %ul
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity1
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity2
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity3
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity4
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity5
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity6
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity7
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} socity8
        .choosehunger
          %h2 Choose Your Hunger
          %ul
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Pizza Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Chinese Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Italian Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Mexican Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Indian Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Punjabi Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Fast Food Restaurants
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Cake Delivery
        .popularrestaurants
          %h2 popular restaurants
          %ul
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants1
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants2
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants3
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants4
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants5
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants6
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants7
            %li.footerwrapperlinkswrapper
              %a.footerwrapperlinks{href: "#"} Restaurants8
      .clr
    %footer#footer
      %ul.actions
        %li
          %a.fa.solo.fa-twitter{href: "#"}
            %span Twitter
        %li
          %a.fa.solo.fa-facebook{href: "#"}
            %span Facebook
        %li
          %a.fa.solo.fa-google-plus{href: "#"}
            %span Google+
        %li
          %a.fa.solo.fa-dribbble{href: "#"}
            %span Dribbble
        %li
          %a.fa.solo.fa-pinterest{href: "#"}
            %span Pinterest
        %li
          %a.fa.solo.fa-instagram{href: "#"}
            %span Instagram
      / Menu
      %ul.menu
        %li{style: "margin-right:2px;"} © Untitled
        %li
          |  Design:
          %a{href: "https://www.facebook.com/aggarwalsahil1992"} Sahil Aggarwal
      .clr
    %script{:src => "../assets/js/jquery.min.js"}
    %script{:src => "../assets/js/jquery-1.9.1.js"}
    %script{:src => "../assets/js/jquery-ui-1.10.3.custom.js"}
    %script{:src => "../assets/js/bootstrap.min.js"}
    %script{:src => "../assets/js/knockout-2.2.1.js"}
    %script{:src => "../assets/js/ItemModel.js"}
    %script{:src => "../assets/js/index.js"}
    %script{:src => "../assets/js/header.js"}
