@charset "utf-8";
/* CSS Document */

body
{
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 13px;
	line-height:1.3em;

}

h1
{
	font-family: 'Terminal Dosis', Arial, sans-serif;
	line-height:1.3em;	
}

.clr
{
	content:'';
	clear:both;
}

.headerwrapper
{
	width:100%;
	float:left;
	border-bottom:5px solid #fff;
	margin:0;
	padding:0;
	background:#c0392b;
	background-image: -ms-linear-gradient(left, #c0392b 0%, #c0a92b 50%, #c0b92b 100%);
	background-image: -moz-linear-gradient(left, #c0392b 0%, #c0a92b 50%, #c0b92b 100%);
	background-image: -o-linear-gradient(left, #c0392b 0%, #c0a92b 50%, #c0b92b 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #c0392b), color-stop(0.5, #c0a92b), color-stop(1, #c0b92b));
	background-image: -webkit-linear-gradient(left, #c0392b 0%, #c0492b 50%, #c0592b 100%);
	background-image: linear-gradient(to right, #c0392b 0%, #c0492b 50%, #c0592b 100%);

}

.headerwrapper .gohungerlogo
{
	
	width:15%;
	float:left;
	padding:0 0 0 3em;
	font-size:3em;
	color:#fff;
	margin-right:10%;
	font-weight:bolder;
	text-transform:uppercase;
	text-align:center;
}

.headerwrapper .gohungerlogo .logotop
{
	
	line-height:1.3em;
	padding:20px 0;
	-webkit-transform:rotate(20deg);
	-moz-transform:rotate(20deg);
	-ms-transform:rotate(20deg);
	-o-transform:rotate(20deg);
	transform:rotate(20deg);
}

.headerwrapper .gohungerlogo .logobottom
{
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	transform:rotate(-10deg);
}

.headerwrapper .gohungerlogo .bottomtxt
{
	font-size:12px;
	padding-top:10px;
	text-transform:lowercase;
	padding-left:80px;
}

.headerwrapper .trueiconwrapper
{
	float:right;
	width:70%;
	padding:20px 0;
}

.headerwrapper .trueiconwrapper > a
{
	float:left;
	color:#fff;
	margin-right:10px;
}

.headerwrapper .links
{
	width:750px;
	float:left;
	padding:20px 0;
	
}
.headerwrapper .links a
{
	-webkit-transition:transform 5s ease-in-out;
	-ms-transition:transform 5s ease-in-out;
	-moz-transition:transform 5s ease-in-out;
	-o-transition:transform 5s ease-in-out;
	transition:transform 5s ease-in-out;
}

.headerwrapper .links a:first-child
{

}


@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.headerwrapper .links a:hover
{
	-webkit-animation-name: shake;
	-webkit-animation-duration:0.5s;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
	
}


.badge-text {
font-weight: 400;
text-transform:uppercase;
margin-right:30px;
font-family: "takemeaway",Arial,"Helvetica Neue",Helvetica,sans-serif!important;
position: relative;
padding: .35em .9em;
display: inline-block;
background: #fff;
color:#d62725;
-webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

.drop-shadow {
z-index: 1;
-webkit-box-shadow: rgba(0,0,0,.5) 0 1px 3px 0;
-moz-box-shadow: rgba(0,0,0,.5) 0 1px 3px 0;
box-shadow: rgba(0,0,0,.5) 0 1px 3px 0;
}

.headerwrapper .links a
{
	text-shadow: white 0 1px 0;
	text-decoration:none;
-webkit-transition: color .2s ease-in-out;
-moz-transition: color .2s ease-in-out;
-ms-transition: color .2s ease-in-out;
-o-transition: color .2s ease-in-out;
transition: color .2s ease-in-out;
}

.bubble:after {
content: " ";
position: absolute;
bottom:-5px;
right: 20px;
z-index: 1;
width: 10px;
height: 10px;
background: #fff;
-webkit-box-shadow: rgba(0,0,0,.3) 2px 2px 2px 0;
-moz-box-shadow: rgba(0,0,0,.3) 2px 2px 2px 0;
box-shadow: rgba(0,0,0,.3) 2px 2px 2px 0;
-webkit-transform: rotate(45deg) translateZ(0);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.imagecontainer
{
	background-size: cover;
	background:url(../img/gohungerbackground.jpg) no-repeat center center;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://tkstatic.in/images/large/home-bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://tkstatic.in/images/large/home-bg.jpg', sizingMethod='scale')";
	padding: 2% 0;
	min-height: 500px;
	border-bottom:5px solid #c0392b;
	position: relative;
}

.imagecontainer .content
{
	margin-top:80px;
	
}

.imagecontainer .content >div 
{
	margin : 0 auto;
}

.imagecontainer .content .about
{
	width:45%;
	margin-right:5%;
}
	
.imagecontainer .content .about h1
{
	font-size:3em;
	margin-left:20px;
	color:#fff;
	font-weight:900;
	text-transform:uppercase;
}

.imagecontainer .content .about h3
{
	color:#fff;
	font-weight:700;
	font-size:1.5em;
	line-height:1.7em;
	margin-left:35px;
	margin-top:20px;
}

.imagecontainer .content .regionfirst, .imagecontainer .content .regionsecond
{
	margin-top:10px;
	
}

.imagecontainer .content .regionsecond
{
	margin-left:80px;
	
}

.imagecontainer .content .regionfirstlinkwrapper
{
	margin-bottom:60px;
}

.imagecontainer .content  a.regionfirstlink
{
	color:#fff;
	font-size:1.2em;
	opacity:0.7;
	letter-spacing:0.1em;
	text-transform:uppercase;
	padding:15px 50px;
	font-weight:bolder;
	text-align:center;
	background:#c0392b;
}

.contentheading
{
	color: white;
	font-size: 50px;
	position: relative;
	left: 9em;
	top: 1em;
	font-weight:bolder;
}

.searchBox
{
	background-color: #ffffff;
	border: 6px solid #c0392b;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
	/*-ms-filter must come before filter*/
	filter: alpha(opacity = 80);
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*All filters must be placed together*/
	
	width: 70%; 
	height: 10em; 
	margin-left: auto; 
	margin-top: auto;
	position: relative;
	margin-right: 20em;
	margin-bottom: 7em;
}

#menubox
{
	width: 243px; 
	height: 354px;
	padding: 8px; 
	margin-right: 23px;  
	margin-left: 50px;
	position: relative;
	opacity: 0.8; 
	background-color: #eee6d9;
	border: 2px solid #999999;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

.footerwrapper
{
	width:100%;
	background:#111111;
	background-image: -webkit-gradient(linear, center, color-stop(0, #000000), color-stop(0.5, #111111), color-stop(1, #111111));
	background-image: -webkit-linear-gradient(center, #111111 0%, #000000 50%, #111111 100%);
	background-image: linear-gradient(to center, #111111 0%, #000000 50%, #111111 100%);
	min-height:300px;
}

.footerwrapper > div
{
	float:left;
	width:23%;

}

.footerwrapper h2
{
	color:#c0392b;
	font-size:2em;
	margin-top:30px;
	text-transform:uppercase;
	font-weight:900;
	margin-bottom:30px;
	
}

.footerwrapper .footerwrapperlinkswrapper
{
	margin-bottom:10px;
	
}

.footerwrapper .footerwrapperlinkswrapper .footerwrapperlinks
{
	color:#fff;
	font-size:1.3em;
	text-transform:capitalize;
	font-weight:400;
	
}

.footerwrapper .footerwrapperlinkswrapper .footerwrapperlinks:hover
{
	text-decoration:underline;
}

.footerwrapper .gohungerlinks
{
	margin-left:80px;
}

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

.fa 
{
	text-decoration: none;
}

.fa.solo
{
}
		
.fa.solo span 
{
	display: none;
}

.fa:before 
{
	display:inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.fa-twitter:before{content:"\f099"}
.fa-facebook:before{content:"\f09a"}
.fa-google-plus:before{content:"\f0d5"}
.fa-pinterest:before{content:"\f0d2"}
.fa-instagram:before{content:"\f16d"}
.fa-dribbble:before{content:"\f17d"}

#footer {
		position: relative;
		height: 5.2em;
		line-height: 4.5em;
		margin: 0;
		background:#222222;
		color: #999;
		color: rgba(185,186,187,0.5);
		
	}

		#footer a {
			color: #999;
			color: rgba(185,186,187,0.5);
		}

			#footer a:hover {
				color: #bbb;
				color: rgba(185,186,187,1.0);
			}
	
		#footer .actions {
			position: absolute;
			left: 1em;
			top: 0.25em;
			height: 5em;
			line-height: 5em;
			margin: 0;
		}
		
			#footer .actions li {
				font-size: 1.25em;
				float:left;
				font-family:'FontAwesome';
				margin: 0;
			}
			
				#footer .actions li a {
					padding: 0.5em;
				}
		
		#footer .menu {
			position: absolute;
			right: 5em;
			top: 0;
			height: 4em;
			line-height: 4em;
			margin: 0;
		}
		
			#footer .menu li {
				float:left;
				font-size: 1.2em;
			}


