.heading {
	color: #ffffff;
	text-transform: uppercase;
	background-color: #CF0D43;
	text-align: left;
	font-size: 1em;
	padding: 0.7em 0 0.7em 1em;
	margin: 0 0 0.2em 0;
	cursor: pointer;
}

h1 {
	font-size: 2.5em;
	font-weight: 900;
	margin: 1em 0 0.5em 0;
	line-height: 1.3em;
}

.question
{
	color: #CF0D43;
	text-transform: none;
	font-weight: 400;
	padding-top: .5em;
	font-size: 1.3em;
}

.answer
{
	padding: 0.5em 0;
	word-wrap: break-word;
	font-size: 1em;
}

.needhelpicon
{
	position: relative;	
	left: -4px;
	display: inline;
}

.content
{
display: none;

}
