.filterPanel
{
	border: 2px solid black;	
	width: 20%;
	height: 100%;
	float: left;
}
.vendorPage
{
	width: 80%;
}

.slider
{
	width: 80%;	
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 3px #000000;
	-webkit-box-shadow: 0px 0px 3px #000000;
	box-shadow: 0px 0px 3px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}


.vendorBox
{
		
	float: left;
	width: 21%;
	margin-left: 2%;
	margin-right: 2%;
	height:30%;		
	border: 2px solid black;
		
}

.vendorAddress
{
	position: relative;	
	background-color: rgb(221,218,218);
	margin-left: 2%;
	margin-right: 2%;
}

.menuItemButton
{
	margin: 20px;	
	width: 100px;
	height: 40px;
}


.box
{
	border: 1em;
        -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 6px #000000;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

.boxContent
{
	padding-left: 20px;
	padding-top: 15px;
	padding-right: 20px;
}

.h3_span
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	font-size: 24px;
}

#profile
{
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 20px #000000;
	-webkit-box-shadow: 0px 0px 20px #000000;
	box-shadow: 0px 0px 20px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

#content
{
	width: 100%;
}

#content-1
{
	width: 25%;
	float: left;
}

#content-2
{
	width: 71%;
	float: right;	
}	

#content-1-1
{
	width: 50%;
	float: left;
	padding: 0 7px 0 7px;
}
#content-1-2
{
	width: 50%;
	float: right;
}
